# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Node modules
node_modules/

# Databases e arquivos de dados locais
*.db
*.sqlite
*.sql

# Environment variables
.env

# Flask
instance/

# Logs
*.log

# Cache e ferramentas de teste
.pytest_cache/
.mypy_cache/
.cache/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
